body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(45deg, #301826, #253c5c);
  background-size: 400% 400%;
  animation: gradientMovement 10s infinite;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#imagen {
  padding: 2.5%;
  max-width: 30%;
  border-radius: 10px;
  background-color: #253c5c;
}
.dis {
  opacity: 0;
}
.appear {
  opacity: 1;
  animation: appear 10s ease;
}
@keyframes appear {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;

  }
}
@keyframes gradientMovement {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
#countdown {
  font-size: 2rem;
}